* {
    padding: 0;
    margin: 0;
    font-family: 'Nokora', sans-serif;
}

body {
    overflow-x: hidden;
}

h2 {
    font-size: 40px;
    font-weight: 100;
}

p {
    font-size: 18px;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

.whitespace {
    height: 400px;
}

.preloader {
    background: #000 url('assets/IKONIK_logo.png') no-repeat center center;
    background-size: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 150;
}

@media screen and (max-width: 1600px) {
    .whitespace {
        height: 250px;
    }
    h2 {
        font-size: 30px;
    }
    p {
        font-size: 15px;
    }
  }

  @media screen and (max-width: 1200px) {
    .whitespace {
        height: 150px;
    }
  }

/****************** DISPLAY LOGIC ******************/
@media screen and (max-width: 3840px) {
    .web {
        display: block;
    }
    .mobile {
        display: none;
    }
  }
@media screen and (max-width: 1000px) {
    .web {
        display: none;
    }
    .mobile {
        display: block;
    }
  }

/****************** END DISPLAY LOGIC ******************/


::-webkit-scrollbar { width: 0 !important }
/****************** GRID LINES ******************/
.page-grid {
    display: grid;
    grid-template-columns: repeat(8, 12.5vw);
    position: absolute;
    height: 100%;
    z-index: 3;
}
@media screen and (max-width: 1750px) {
    .page-grid {
        height: 2500px;
    }
  }
  @media screen and (max-width: 1150px) {
    .page-grid {
        height: 3000px;
    }
  }

.divider-line {
    width: .5px;
    height: 100%;
    border-width:0;
    background-color: rgb(0, 0, 0);
    color:rgb(0, 0, 0);
    opacity: .1;
    z-index: 3;
}
/****************** END GRID LINES ******************/

/****************** NAV ******************/
.nav-container {
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    position: absolute;
    height: 60px;
    z-index: 100;
    position: fixed;
}

.light-nav {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
}

.nav-item {
    width: 100%;
    border-right: solid 1px #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 300;
    transition-duration: .4s;
}
.nav-item:hover {
    transition-duration: .4s;
    background-color: #c9c9c9;
}
.dark-nav {

}
.inner-explore {
    position: absolute;
    background-color: white;
    width: 0;
    display: none;
    animation-name: push;
    animation-duration: .5s;
    height: 200px;
    right: 0;
    top: 100%;
    border-top: black;
}
@keyframes push {
    from {width: 0;}
    to {width: 62.5%;}
  }
.inner-explore-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.inner-explore-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    font-weight: 300;
    cursor: pointer;
    transition-duration: .4s;
}
.inner-nav-img {
    max-width: 300px;
    width: 70%;
    transition-duration: .4s;
    margin-bottom: 10px;
}
.inner-nav-img:hover {
    transform: scale(1.1);
    transition-duration: .4s;
}
/****************** END NAV ******************/

/****************** HOMEPAGE ******************/
.homepage {
  background-image: url("assets/headers/Home_topBanner1b.png"); /* The image used */
  transition: background 2s ease-in-out;
  animation: fadeIn 5s;
  height: 100vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-attachment: fixed;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  justify-content: start;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  

.home-whitespace {
    height: 175px;
    width: 50vw;
    background-color: #fdfdfd;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.logo-svg {
    width: 40%;
}
/****************** END HOMEPAGE ******************/

/****************** COMMERCIAL ******************/
.commercial {
    background-color: #fdfdfd;
    height: 100vh; /* You must set a specified height */
    z-index: 2;
}
.text-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    justify-content: space-between;
    line-height: 35px;
}
.commercial-grid {
    display: grid;
    grid-template-columns: repeat(8, 12.5vw);
    height: 100%;
    overflow-x: visible;
}
.comm-text-divider {
    display: flex;
    align-items: center;
    width: 400px;
}
@media screen and (max-width: 1200px) {
    .comm-text-divider {
        width: 300px;
    }
  }
.comm-img-1-divider {
    display: flex;
    align-items: center;
    width: 40vw;
}
.comm-img-2-divider {
    display: flex;
    align-items: center;
    width: 30vw;
}
.comm-img-1 {
    background-image: url("assets/homepage/Residential_Home2-min.png");
    height: 90vh;
    width: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.comm-img-2 {
    background-image: url("assets/homepage/Res_outdoor_home4.png");
    height: 40%;
    width: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: flex-end;
}
@media screen and (max-width: 1600px) {
    .comm-img-2 {
        height: 50%;
    }
  }
/****************** END COMMERCIAL ******************/

/****************** RESIDENTIAL ******************/
.residential {
    background-color: #fdfdfd;
    height: 25vh; /* You must set a specified height */
    z-index: 1;
}
.residential-grid {
    display: grid;
    grid-template-columns: repeat(8, 12.5vw);
    height: 100%;
    overflow-x: visible;
}
.res-divider-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}
.res-divider-img {
    height: 25vw;
}
.res-p {
    line-height: 40px;
}
/****************** END RESIDENTIAL ******************/

/****************** SYSTEM ******************/
.system-container {
    width: 100%;
    display: flex;
}
.system-inner-container {
    width: 100%;
    background-color: rgb(236, 236, 236);
}
.system-img-1 {
    width: 50%;
}
.system-img-2 {
    width: 100%;
}
.system-text-container {
    padding: 70px;
    line-height: 40px;
}
/****************** END SYSTEM ******************/

/****************** SHOUT ******************/
.shout {
    background-color: rgb(236, 236, 236);
    height: 70vh;
}
.shout-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.shout-img-container {
    width: 50%;
    transform: translate(100px, 150px);
}
.shout-text-container {
    width: 400px;
    margin-left: 55px;
}
.shout-p {
    line-height: 40px;
}
/****************** END SHOUT ******************/

/****************** DEAL ******************/
.deal {
    background-color: rgb(23, 23, 23);
    height: 90vh;
    display: flex;
    align-items: center;
}
.deal-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.deal-img-container {
    width: 40%;
    min-width: 500px;
}
.deal-text-container {
    width: 30%;
    color:rgb(253, 253, 253);
    margin-left: 100px;
}
.deal-p {
    line-height: 40px;
}
/****************** END DEAL ******************/

/****************** BOTTOM BANNER ******************/
.bottom-banner-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-banner-text {
    position: absolute;
    color: white;
    font-weight: 300;
    z-index: 20;
}
.bottom-banner-img {
    width: 100%;
}
.overlay {
    position: absolute; 
    background: rgba(18, 18, 18, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
}
/****************** END BOTTOM BANNER ******************/

/****************** FOOTER ******************/
.footer {
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: rgb(23, 23, 23);
}
.footer-text {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px;
    color: white;
}
.footer-text h2 {
    font-size: 15px;
}
.footer-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 23, 23);;
}
.footer-logos img {
    width: 100%;
}

/****************** END FOOTER ******************/

/****************** P-RES-HEADER ******************/
.p-res-header {
    height: 40vh;
}
.p-res-text-divider {
    width: 550px;
}
/****************** END P-RES-HEADER ******************/

/****************** CARO ******************/
.splide__slide img {
    width: 100%;
    height: auto;
  }
/****************** END CARO ******************/

/****************** LARGE IMAGE CONTAINER ******************/
.display-img {
    width: 100%;
    transition: 2s ease-in-out;
}
.inner-right-text {
    background-color: white;
}
/****************** END LARGE IMAGE CONTAINER ******************/

/****************** MISC ******************/
.res-inner-img {
    transition: all .5s ease-in-out;
}
.splide__slide img {
    cursor: pointer;
}
.res-inner-img {
    z-index: 20;
    cursor: pointer;
}
.text-container-mobile-contact {
    width: 90%;
    text-align: center;
    margin-top: 20px;
}
/****************** END MISC ******************/

/****************** PATTERNS GALLARY ******************/
.patterns-gallery {
    margin-top: 60px;
}
.patterns-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.patterns-inner-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.pattern-img {
    width: 32%;
    margin-bottom: 1%;
}
/****************** END PATTERNS GALLARY ******************/

/****************** MATERIALS ******************/
.materials {
    margin-top: 60px;
}
.materials-img-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}
.materials-copy {
    width: 50%;
    align-self: center;
    text-align: center;
}
.materials-copy p {
    line-height: 40px;
}
.materials-copy h2 {
    font-size: 40px;
}
/****************** END MATERIALS ******************/

/****************** MATERIALS NAV ******************/
.materials-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.materials-link {
    font-size: 20px;
    transition-duration: .4s;
    margin-left: 20px;
    margin-right: 20px;
}
.materials-link:hover {
    transition-duration: .4s;
    color: rgb(42, 140, 158);
}
/****************** END MATERIALS NAV ******************/

/****************** MOBILE NAV ******************/
.toggle {
    z-index: 21;
    position: fixed;
    color: white;
    right: 0;
    padding: 10px;
    font-size: 50px;
}
.mobile-nav-collapse {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to left,  rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: fixed;
    right: 0;
    z-index: 20;
    justify-content: flex-end;
    align-items: center;
    transition-duration: .2;
    animation: mobileNav .2s ease-in-out;
}
.mobile-nav-collapse ul {
    display: flex;
    height: 80%;
    width: 40%;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 40px;
}
.mobile-nav-collapse ul li {
    width: 100%;
    padding: 20px;
    background-color: rgb(255, 255, 255, .9);
    font-weight: 300;
    transition-duration: .4s;
    border-radius: 20px;
}
.mobile-nav-collapse ul li:active {
    width: 100%;
    padding: 20px;
    background-color: #bcbcbc;
    font-weight: 300;
    transition-duration: .4s;
}
@keyframes mobileNav {
    from {opacity: 0;}
    to {opacity: 1;}
  }
/****************** MOBILE NAV ******************/

/****************** MOBILE RES ******************/
.mobile-res {
    background-image: url("assets/headers/Home_topBanner1b.png"); /* The image used */
    height: 30vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    z-index: 1;
    display: flex;
    align-items: flex-end;
    justify-content: start;
}
.mobile-whitespace {
    height: 50px;
    width: 50vw;
    background-color: #fdfdfd;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
/****************** MOBILE RES ******************/

/****************** MOBILE RES IMG ******************/
.mobile-res-img {
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.title-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50%;
    background-color: black;
    margin-bottom: 20px;
}
.mobile-res-img-inner {
    width: 100%;
}
.out-img-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 2px;
}
.img-overlay {
    position: absolute;
    width: 100vw;
    color: white;
    font-size: 15px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    animation: fadeIn 1s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
/****************** END MOBILE RES IMG ******************/

/****************** MOBILE HOME PAGE ******************/
.mobile-container {
    display: flex;
    flex-direction: column;
}
.mobile-inner {
    display: flex;
    flex-direction: row;
}
.mobile-inner-left {
    display: flex;
    flex-direction: column;
    width: 50vw;
}
.mobile-inner-left img {
    width: 100%;
    display: block;
}
.mobile-inner-right {
    display: flex;
    flex-direction: column;
    width: 50vw;
}
.mobile-inner-right img {
    width: 100%;
    display: block;
}
.mobile-footer {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
/****************** END MOBILE HOME PAGE ******************/

/****************** CENTERED CONTAINER ******************/
.centered-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.centered-text-container {
    text-align: center;
    width: 80%;
    margin-top: 20px;
}
.centered-text-container p {
    line-height: 30px;
}
.centered-container img {
    width: 100%;
}
.footer-whitespace {
    margin-top: 20px;
}
/****************** END CENTERED CONTAINER ******************/